/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: sans-serif;
}


/*End reset*/

/*Utility classes*/


.mr-b-5 {
  margin-bottom: 5px;
}

.mr-b-20 {
  margin-bottom: 20px;
}

.mr-b-30 {
  margin-bottom: 30px;
}

.mr-l-40 {
  margin-left: 40px;
}

.mr-t-20 {
  margin-top: 20px;
}

.pd-l-2 {
  padding-left: 2rem;
}

.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px
}

.center {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.flex-spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nogap {

  gap: 0;
}

.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.gap-40 {
  gap: 40px;
}

.gap-50 {
  gap: 50px;
}

.gap-60 {
  gap: 60px;
}

.orange-background {
  background-color: #FF8C38;
}

.green-background {
  background-color: #115E59;
}

.black-background {
  background-color: #161616;
}

.white-color {
  color: white;
}

.underline {
  font-size: 1.6rem;
  font-weight: 545;
  color: black;
  text-decoration: underline;
}


/*End utility classes*/
body::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  background-color: #FFF7ED;
  min-height: 100vh;
}

.nav {
  height: 100px;
  padding: 2.5rem 2rem;
}

.logo {
  font-size: 2.2rem;
  font-weight: 800;
}

.logo:any-link {
  color: black;
  text-decoration: none;
}

.nav_link {
  font-size: 1.6rem;
  font-weight: 545;
  color: #4D4D4D;
}

.nav_link:any-link {
  text-decoration: none;
}

.nav_link:hover {
  filter: brightness(170%);
}

.nav_list {
  width: 150px;
}

.image_container {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.image_container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #00000046;

}

.back_image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.image_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 1rem 2rem;
  gap: 30px;
}

.image_h1 {
  font-size: 5rem;
  color: white;
}

.image_text {
  font-size: 2rem;
  color: white;
}

.button {
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
}

.footer {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.footer_text {
  color: #AAAAAA;
  font-size: 1.5;
  font-weight: 300;
}

.about-main {
  margin: 5rem 2rem;
}

.about-hero-image img {
  display: block;
  width: 100%;
  max-height: 60vh;
}

.about-h1 {
  font-size: 3.5rem;
}

.about-card {
  background-color: #FFCC8D;
  border-radius: 14px;
  padding: 3rem;
}

.about-h2 {
  width: 50%;
  font-size: 3rem;
}

.about-text {
  display: block;
  font-size: 2rem;
}

.about-card-button {
  width: 25%;
  margin-top: 3rem;
}

.vans-main {
  margin: 5rem 2rem;
}

.vans-h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.vans-list {
  list-style: none;
  gap: 50px;
}

.vans-list-element {
  background-color: #FFEAD0;
  color: #4D4D4D;
  padding: 1rem 4rem;
  border-radius: 7px;
  font-size: 1.5rem;
}

.clear-filter {
  color: #4D4D4D;
  font-size: 1.5rem;
  text-decoration: underline;

}

.van-card {
  max-width: 500px;
}

.van-card img {

  width: 100%;
}

.van-card-button {
  width: 40%;
}

.price-container {
  position: relative;
}

.price {
  font-size: 2rem;
}

.price-time {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 100;
  top: 100;
  right: 0;
}

.vans-grid {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 40px;
}